
/* --- Icons --------------------------------------------------- */

.answerIcon {
  position: relative;
  width: 32px;  /* 任意：使用サイズに合わせて調整 */
  height: 32px;
  background: url(./icons/robot.svg) center / cover no-repeat;
  border-radius: 50%;
}

.typingIcon { /* ← typeingIcon から修正 */
  position: absolute;
  top: -2px;
  left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
